@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex; /*occupy full screen horizontally i.e., in a row*/
  /*flex-direction: column; /*arranged in a column*/
  align-items: center; /*align item to center of screen*/
  justify-content: center; /*align the flex item at the center of container i.e.,body's center*/
  height: 100vh; /*100% of viewport height or 100% of screen height*/
  overflow: hidden;
  margin: 0px;
}

.container {
  display: flex;
  width: 90vw;
}
.panel {
  /*background-size: auto 100%;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0px;
  opacity: 0;
}
.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 500px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
